@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  th {
    @apply py-1 text-left text-xs font-medium text-gray-500 tracking-wider cursor-pointer hover:bg-gray-100 select-none;
  }

  tr {
    @apply py-1 bg-teal-300 whitespace-nowrap text-xs text-gray-900;
  }
  
  td {
    @apply py-1 text-xs text-gray-900;
  }
}

:root {
  --background: rgb(13, 148, 136);
  --foreground: rgb(255,255,255);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

h1 {
  font-size: 1.5rem;       /* text-2xl = 24px */
  font-weight: 900;        /* font-black */
  letter-spacing: 0.05em;  /* tracking-wider */
  color: rgb(147, 197, 253); 
}

h2 {
  font-size: 1.2rem;       /* text-2xl = 24px */
  font-weight: 900;        /* font-black */
  letter-spacing: 0.05em;  /* tracking-wider */
  color: rgb(147, 197, 253); 
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}